/* custom-navbar.css */
body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;

}

footer {
    background-color: #212529;
    color: white;
    display: flex;
    justify-content: center;
}
footer p{
    margin: 10px;
}

.navbar .navbar-brand {
    font-size: 1.8em;
}

.navbar .navbar-toggler .navbar-toggler-icon {
    font-size: small;
}

.navbar .navbar-nav .nav-item .nav-link {
    font-weight: 500;
    margin-right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;


}

.navbar .navbar-nav .nav-item .nav-link {
    font-weight: 500;
    margin-right: 5px;
}

.navbar .navbar-nav .nav-item .dropdown-menu {
    margin-top: 15px;

}

.navbar .navbar-nav .nav-item .dropdown-menu .dropdown-item:hover {
    background-color: #8b8f94;
}

main .container #register-form {

}


@media (max-width: 991px) {
    .navbar .navbar-nav .nav-item .dropdown-menu {
        margin-top: 0;
    }
}